@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
  color: grey;
  display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-bottom: 20px;
}
